@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Thin'), local('Roboto-Thin'), url('/fonts/roboto-thin-webfont.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: normal;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('/fonts/roboto-thinitalic-webfont.woff') format('woff');
    font-display: swap;
}


img.picture {
    display: block;
    border: 0;
}

/* NAV */

#nav {
    background-color: #e0e0dc;
}

#navpri {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#navpri img {
    display: block;
    border: 0;
    float: left;
}

#navpri>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    float: left;
}

#navpri>ul>li {
    display: block;
    float: left;
}

#navpri>ul>li>a {
    padding: 20px;
    text-decoration: none;
    color: #666666;
    text-transform: uppercase;
    display: block;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #e0e0dc;
    line-height: 18px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

#navpri>ul>li>a:hover, #navpri>ul>li>a.active {
    background-color: #eaebe6;
}

#navpri>ul>li>a.navmore:hover {
    background-image: url(/wichita/img/more.png);
}

#navpri>ul>li>a.navopen {
    background-image: url(/wichita/img/open.png) !important;
}

#navpri form {
    background-color: #ffffff;
    border-radius: 4px;
    width: 200px;
    height: 26px;
    position: absolute;
    right: 0;
    top: 16px;
}


#navsec>ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: none;
    text-align: left;
}

#navsec>ul.navopen {
    display: inline-block;
}

#navsec {
    background: url(/wichita/img/shadow.png) repeat-x top left;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    text-align: center;
    max-height: 0;
}

#navsec.navopen {
    display: block;
    max-height: 500px;
}

#navsec>ul li {
    display: block;
    margin: 0;
    padding: 0;
}

#navsec>ul>li {
    float: left;
    /*width: 192px;*/
}

#navsec>ul>li>a
{
    padding: 10px 10px 10px 0;
    color: #b4b5b1;
    text-decoration: none;
    display: block;
    font-size: 120%;
    text-transform: uppercase;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

#navsec>ul ul {
    margin: 0;
    padding: 0;
}

#navsec>ul>li li>a
{
    padding: 5px 10px;
    color: #888888;
    text-decoration: none;
    display: block;
    background: url(/wichita/img/bullet.png) no-repeat left center;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

#navsec a:hover {
    color: #000000;
}

/* LAYOUT ELEMENTS */

#eyecatcher {
    background-color: #eaebe6;
    border-bottom: 1px solid #e0e0dc;
    border-top: 1px solid #e0e0dc;
}


#eyecatcher img {
    width: 960px;
    height: 320px;
    border: 0;
    margin: 0 auto;
    display: block;
}

#center {
    width: 960px;
    margin: 0 auto;
    padding: 40px 0;
}

/* BREADCRUMBS */

#breadcrumbs {
    margin: 0 0 20px 0;
    color: #666666;
    font-size: 90%;
}

#breadcrumbs a {
    color: #b4b5b1;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

#breadcrumbs a:hover {
    color: #000000;
}

/* CLASSES */

.clearfix {
    clear: both;
}

.paragraphsidebarright {
    float: right;
    margin: 0 0 30px 30px;
}

a.ngpar {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.paragraph {
    margin-bottom: 10px;
}

.centered {
    text-align: center;
}

.callout {
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #e0e0dc;
}

.callout_footer {
    margin: 30px 0;
    background-color: #555555;
    color: #fff;
    padding: 25px 15px;
}

.quote {
    display: block;
    margin: 20px 0;
    text-align:center;
    color:#995c2b;
}

.bestuurslid {
    color: #995c2b;
}

.bestuur_lijst h3 {
    margin-top: 30px;
}

.time {
    display: inline-block;
    width: 140px;
}